html, body {
    height: 100%;
    margin:0; 
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: Calibri;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    
}


/*Header*/
header {
     /*    Neemt de complete breedte in, dus allen elementen moeten er wel naast moeten staan. */
    width: 100%;
    padding-left: 1em;
}

header h2 {
    color: firebrick;
    letter-spacing: .2em;
    font-size: 5vw;
    text-align: center;
    text-shadow: 3px 3px #333;
}

header p {
    text-align: center;
    font-style:italic;
    color: goldenrod;

    
}
/*Einde Header*/


/*Wrapper =  PARENT*/
.wrapper {
/*    Zorgt ervoor dat de flex layout kan plaats vinden
    en ook voor gelijke kolom hoogte.:*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    
}

/*Tekst*/
/*Section = CHILD*/
section.link {
    padding: 5em;
    min-width: 10em;
    margin: 1em;
    font-weight: 100;
    background-color: firebrick;
/*    Rand*/
    border-radius: 2em;
    flex: 0 0 25em;
    border: 3px solid goldenrod;
    display: flex;
    flex-direction: column;
    flex: 1;
   
    
}



section.link:hover {
    background-color:#FE9A2E;
    border: 3px solid firebrick;
    
}

section.link footer {
    margin-top: auto;
}

.text {
    margin: auto;
    text-align: center;
}


/*link*/
a:link {
    text-decoration: none;
    
}
a:visited {
    text-decoration: none;
    color:gold;
}
a:hover {
    text-decoration: underline;
    color: white;
}
a:active {
    text-decoration: none;
}
/*Einde links*/

/*Einde tekst*/





/*Validatie*/
#validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}

