body {
    font-family: calibri;
    margin: 0;
}

header {
    background-color: black;
    color: firebrick;
    margin: 0;
    padding: 0;
   
}

aside {
    padding: 1em;
    background-color: firebrick; 
}

article {
    padding: 1em;
}

footer {
    padding: 1em;
    background-color: black;
    color: firebrick;
}


ul{
    display: flex;
    justify-content: space-around;
    color: white;
    
}

ul li {
    list-style-type: none;
    text-decoration-color: none;
    text-decoration-line: none;
    font-size: 24px;
}

ul li a {
  color:white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
    font-family: Century Gothic;
}

ul li a:hover{
    color: red;
}

/* Lay-out met flexbox */ 

/* Voor mobiel */

main{
    display: flex;
    flex-direction: column;
}

aside {
    order:1;
}

footer:after {
    content: ' Voor smartphones';
}

#wrapper {
/*    Zorgt ervoor dat de flex layout kan plaats vinden
    en ook voor gelijke kolom hoogte.:*/
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    
}


/* Vanaf 26em */

@media screen and (min-width: 26em){
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    article {
        width: 100%;
    }
    
/*     Verdeelt de asides / Staan naast elkaar */
    aside {
        flex:1;
    }

    footer:after {
        content: 'Dit is voor schermen tussen 26 em en 36 em';
}
    
    nav ul li{
        flex: 1;
        flex-grow: 1;
    }
    
   input[type=text] {
/*    Zorgt ervoor dat de flex layout kan plaats vinden
    en ook voor gelijke kolom hoogte.:*/
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    
}
    
}


    
/*    Voor schermen vanag 36em */
    @media screen and (min-width: 36em) {
        main {
            flex-wrap: nowrap;
        }
        
/*        Maakt de verhoudingen wat gunstiger */
        article {
            width: auto;
            flex: 4;
        }
        aside {
            order:0;
        }
        
        nav ul li{
        flex: 1;
    }
        
        footer:after {
            content: 'Dit is voor schermen groter dan 36em';
        }
    }



/*Validatie*/
#validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}

































